/* Estilos para Scroll Reveal */
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
